<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Enrollments</title>
  </head>
  <body>
    <nav>
      <li>
        <a href="/students">All Students</a>
      </li>
      <li>
        <a href="/students/new">Enrol your child</a>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
